# Label Encoding
Label and Ordinal encoding are 2 techniques to categorical data into numeric data.
Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in the alphabetical order or based on the frequency of their occurance.

For example, if we have a categorical variable color with 3 categories Red, Blue, Green, we can represent it as follows.
1. Red
2. Green
3. Blue

In [1]:
import pandas as pd
df = pd.DataFrame(
    {'color': ['red', 'blue', 'green', 'green', 'red', 'blue']}
)
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()
encoded_colors = lbl_encoder.fit_transform(df[['color']])
encoded_colors

/Users/bijonlahiri/Desktop/udemy_machine_learning_course/venv/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:120: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])